<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Search Flight & Purchase Ticket</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- favicons -->
<link href="/images/favicon.png" rel="icon" />
<link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- modern JS -->
<script src="/js/modernizr-2.6.2.min.js"></script>
</head>

<style>
	div {
	padding: 5px;
	margin: 5px;
	}
</style>

<body>

	<div class="top-nav" style="text-align: right;">
		<a href="/">
			<img alt="Home" src="/images/favicon.png" width="20" height="20"/>
		</a>
		<a href="/agent/home">Home</a> |
		<a href="/logout">Logout</a>
	</div>
	
	<div class="main">
		<h2>Search Flights & Purchase Tickets</h2>

		<div style="text-align: center;">
			<h3>Search Flights</h3>
			<form action="/agent/searchFlights" method="POST">
				<label>Depart:</label>
            <input type="text" name = "departure_city" placeholder="departure_city"/>
            <input type="text" name = "departure_airport" placeholder="departure_airport"/>
            <input type="date" name = "departure_time" placeholder="departure_time"/>
            <br>
            <label>Arrive:</label>
            <input type="text" name = "arrival_city" placeholder="arrival_city"/>
            <input type="text" name = "arrival_airport" placeholder="arrival_airport"/>
            <input type="date" name = "arrival_time" placeholder="arrival_time"/> 
            <br>
            <label>Additional Filter:</label>
            <input type="text" name = "airline_name" placeholder="airline_name"/>
            <input type="text" name = "price" placeholder="max_price"/> 
            <button type="submit" class="btn btn-primary">Search</button>
            {% if error1 %}
                <p class="text-danger"><strong>Error:</strong> {{error1}}</p>
            {% endif %}
			</form>

			<br>
			{% if upcoming_flights %}
			<style>
				table, td, th {
					text-align: center;
				}
			</style>
			<table class="table table-bordered table-sm">
				
				<thead>
					<th>airline name</th>
					<th>flight num</th>
					<th>airplane id</th>
					<th>departure place</th>
					<th>departure time</th>
					<th>arrival place</th>
					<th>arrival time</th>
					<th>status</th>
					<th>price</th>
					<th># tickets left</th>
				</thead>

				<tbody>
				{% for line in upcoming_flights %}
					<tr>
						<td>{{line[10]}}</td>
						<td>{{line[1]}}</td>
						<td>{{line[0]}}</td>
						<td>{{line[2]}}, {{line[3]}}</td>
						<td>{{line[6]}}</td>  
						<td>{{line[4]}}, {{line[5]}}</td>
						<td>{{line[7]}}</td> 
						<td>{{line[8]}}</td>
						<td>{{line[9]}}</td>
						<td>{{line[11]}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endif %}

		<hr>

			<h3>Purchase Tickets</h3>
			<form action="/agent/purchaseTickets" method="POST">
				<label for="airline_name">Airline Name:</label>
				<select name="airline_name" required>
					<option value="" disabled>please search for flights first</option>
					{% if upcoming_flights%}
					{% for line in upcoming_flights %}
					<option value="{{line[10]}}">{{line[10]}}</option>
					{% endfor %}
					{% endif %}
				</select>
				<label for="flight_num">Flight Number:</label>
				<select name="flight_num" required>
					<option value="" disabled>please search for flights first</option>
					{% if upcoming_flights%}
					{% for line in upcoming_flights %}
					<option value="{{line[1]}}">{{line[1]}}</option>
					{% endfor %}
					{% endif %}
				</select>

				<label>Customer Email: </label>
				<input type="email" name = "customer_email" placeholder="customer_email" maxlength="50" required/>
				<button type="submit" class="btn btn-primary">Purchase</button>
				{% if error2 %}
				<p class="text-danger"><strong>Sorry!</strong> {{error2}}</p>
				{% endif %}
			  </form>

			  {% if message %}
			  <p class="text-success">{{message}}</p>
			  {% endif %}
		</div>
	</div>

</body>

</html>
