<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>View Tickets</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- favicons -->
<link href="/images/favicon.png" rel="icon" />
<link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- modern JS -->
<script src="/js/modernizr-2.6.2.min.js"></script>
</head>

<style>
	div {
	padding: 5px;
	margin: 5px;
	}
</style>

<body>

	<div class="top-nav" style="text-align: right;">
		<a href="/">
			<img alt="Home" src="/images/favicon.png" width="20" height="20"/>
		</a>
		<a href="/agent/home">Home</a> |
		<a href="/logout">Logout</a>
	</div>
	
	<div class="main">
		<h2>View Purchased Tickets</h2>
		<h4>My booking_agent_id: {{booking_agent_id[0]}}</h4>
		
		<br>
		{% if view_my_flights %}
		<style>
			table, td, th {
				text-align: center;
			}
		</style>
        <table class="table table-bordered table-sm">

			<thead>
				<th>ticket id</th>
				<th>customer email</th>
				<th>purchase date</th>
                <th>airline name</th>
                <th>flight num</th>
				<th>departure airport</th>
				<th>departure time</th>
				<th>arrival airport</th>
				<th>arrival time</th>
				<th>price</th>
            </thead>

            <tbody>
            {% for line in view_my_flights %}
                <tr>
					<td>{{line[4]}}</td>
					<td>{{line[2]}}</td>
					<td>{{line[3]}}</td>
                    <td>{{line[5]}}</td>
					<td>{{line[6]}}</td>
					<td>{{line[7]}}, {{line[8]}}</td>
					<td>{{line[9]}}</td>
					<td>{{line[10]}}, {{line[11]}}</td>
					<td>{{line[12]}}</td>
					<td>{{line[13]}}</td>
                </tr>
            {% endfor %}
            </tbody>
		</table>
		
		{% else %}
		<h5>No Upcoming Flights</h5>

        {% endif %}

	</div>

</body>

</html>
