<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Agent Commission</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- favicons -->
<link href="/images/favicon.png" rel="icon" />
<link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- modern JS -->
<script src="/js/modernizr-2.6.2.min.js"></script>
</head>

<style>
	div {
	padding: 5px;
	margin: 5px;
	}
</style>

<body>

	<div class="top-nav" style="text-align: right;">
		<a href="/">
			<img alt="Home" src="/images/favicon.png" width="20" height="20"/>
		</a>
		<a href="/agent/home">Home</a> |
		<a href="/logout">Logout</a>
	</div>
	
	<div class="main">
        <h2>{{emailName}}'s Commission</h2>
        <form action="/agent/commission" method="POST">
			<label for="duration">Accumulated commission amount since</label>
			<select name="duration" required>
				{% if duration == "7" %}
				<option value="7" selected="selected">last week</option>
				{% else %}
				<option value="7">last week</option>
				{% endif %}
				
				{% if duration == "30" %}
				<option value="30" selected="selected">last month</option>
				{% else %}
				<option value="30">last month</option>
				{% endif %}

				{% if duration == "90" %}
				<option value="90" selected="selected">last quarter</option>
				{% else %}
				<option value="90">last quarter</option>
				{% endif %}

				{% if duration == "365" %}
				<option value="365" selected="selected">last year</option>
				{% else %}
				<option value="365">last year</option>
				{% endif %}

				{% if duration == "1095" %}
				<option value="1095" selected="selected">last 3 years</option>
				{% else %}
				<option value="1095">last 3 years</option>
				{% endif %}

				{% if duration == "10000" %}
				<option value="10000" selected="selected">all time</option>
				{% else %}
				<option value="10000">all time</option>
				{% endif %}
				
				<!-- {% if duration == "custom_duration" %}
				<option value={{custom_duration}}" selected="selected">custom duration</option>
				{% else %}
				<option value={{custom_duration}}>custom duration</option>
				<input type="number" name = "custom_duration" placeholder="custom_duration"/>
				{% endif %} -->
			</select>
			<button type="submit" class="btn btn-primary">search</button>
		</form>

		<br>
		<style>
			table, td, th {
				text-align: center;
			}
		</style>
		<table class="table table-bordered table-sm">
			 <thead>
				<th>total commission</th>
				<th>avg commission per ticket</th>
				<th># tickets</th>
			</thead>

			<tbody>
				<tr>
					{% if total_commission %}
					<td>{{total_commission}}</td>
					{% else %}
					<td>0</td>
					{% endif %}
					{% if avg_commission %}
					<td>{{avg_commission}}</td>
					{% else %}
					<td>0</td>
					{% endif %}
					<td>{{num_ticket}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>
