<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Track Spending</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- favicons -->
<link href="/images/favicon.png" rel="icon" />
<link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- modern JS -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<style>
	div {
	padding: 5px;
	margin: 5px;
	}
</style>

<body>

	<div class="top-nav" style="text-align: right;">
		<a href="/">
			<img alt="Home" src="/images/favicon.png" width="20" height="20"/>
		</a>
		<a href="/customer/home">Home</a> |
		<a href="/logout">Logout</a>
	</div>
	
	<div class="main">
		<h3>Hi, {{username}}!</h3>
        
		<div style="text-align: center;">
            <h2>
                Total Spending:
                {% if total_spending_data %}
                <td>${{total_spending_data}}</td>
                {% else %}
                <td>$0</td>
                {% endif %}
            </h2>
			
			<form action="/customer/spending" method="POST">
				<label for="duration">Spending since</label>
				<select name="duration" required>
					{% if duration == "7" %}
					<option value="7" selected="selected">last week</option>
					{% else %}
					<option value="7">last week</option>
					{% endif %}

					{% if duration == "30" %}
					<option value="30" selected="selected">last month</option>
					{% else %}
					<option value="30">last month</option>
					{% endif %}

					{% if duration == "91" %}
					<option value="91" selected="selected">last quarter</option>
					{% else %}
					<option value="91">last quarter</option>
					{% endif %}

					{% if duration == "365" %}
					<option value="365" selected="selected">last year</option>
					{% else %}
					<option value="365">last year</option>
					{% endif %}

					{% if duration == "1825" %}
					<option value="1825" selected="selected">last 5 years</option>
					{% else %}
					<option value="1825">last 5 years</option>
					{% endif %}

					{% if duration == "10000" %}
					<option value="10000" selected="selected">all time</option>
					{% else %}
					<option value="10000">all time</option>
					{% endif %}
				</select>
				<button type="submit" class="btn btn-primary">submit</button>
			</form>
            
			<hr>
            
            <h2>Month-wise Spending</h2>

			<form action="/customer/spending" method="POST">
				<label for="period">Spending since</label>
				<select name="period" required>
					{% if period == "3" %}
					<option value="3" selected="selected">last quarter</option>
					{% else %}
					<option value="3">last quarter</option>
					{% endif %}
					
					{% if period == "6" %}
					<option value="6" selected="selected">last half-year</option>
					{% else %}
					<option value="6">last half-year</option>
					{% endif %}

					{% if period == "12" %}
					<option value="12" selected="selected">last year</option>
					{% else %}
					<option value="12">last year</option>
					{% endif %}

					{% if period == "36" %}
					<option value="36" selected="selected">last 3 years</option>
					{% else %}
					<option value="36">last 3 years</option>
					{% endif %}

					{% if period == "60" %}
					<option value="60" selected="selected">last 5 years</option>
					{% else %}
					<option value="60">last 5 years</option>
					{% endif %}

					{% if period == "1000" %}
					<option value="1000" selected="selected">all time</option>
					{% else %}
					<option value="1000">all time</option>
					{% endif %}
				</select>
				<button type="submit" class="btn btn-primary">submit</button>
			</form>

			<script type="text/javascript">
				const months = {{months|tojson}};
				const monthly_spendings = {{monthly_spendings|tojson}};
			</script>
			<div id="customerSpending" style="height: 300px; width: 900px; margin: auto;"></div>
			<script type="text/javascript" src="{{ url_for('static', filename='js/')}}{{'customerSpending.js'}}"></script>

			</div>

		</div>
    </div>
    
</body>

</html>
