<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Top Destinations</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- favicons -->
<link href="/images/favicon.png" rel="icon" />
<link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- modern JS -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<style>
	div {
	padding: 5px;
	margin: 5px;
	}
</style>

<body>

    <div class="top-nav" style="text-align: right;">
		<a href="/">
            <img alt="Home" src="/images/favicon.png" width="20" height="20"/>
        </a>
        <a href="/staff/home">Home</a> |
		<a href="/logout">Logout</a>
	</div>
	
	<div class="main">
        <h2>View <strong>{{airline}}</strong>'s Top Destinations</h2>
        <style>
            table, td, th {
                text-align: center;
            }
        </style>
        
            <h3 style="text-align: center;">Top 3 Most Popular Destination in Last 3 Months</h3>
            <table class="table table-bordered table-sm">
                <th>city</th>
                <th># tickets</th>
            {% for line in monthData %}		
                <tr>
                    <td>{{line[0]}}</td>
                    <td>{{line[1]}}</td>
                </tr>
            {% endfor %}
            </table>

            <!-- <div style="text-align: center;">
                <div id="topDestinationsMonth" style="width: 800px; height: 300px; margin: auto;"></div>
                <script type="text/javascript">
                    const new_dest = {{monthDest|tojson}};
                    const new_tickets = {{monthTickets|tojson}};
                </script>
                <script type="text/javascript" src="{{ url_for('static', filename='js/')}}{{'staffTopDestinationsMonth.js'}}"></script>
            </div> -->

            <h3 style="text-align: center;">Top 3 Most Popular Destination Last Year</h3>
            <table class="table table-bordered table-sm">
                <th>city</th>
                <th># ticket</th>
            {% for line in yearData %}		
                <tr>
                    <td>{{line[0]}}</td>
                    <td>{{line[1]}}</td>
                </tr>
            {% endfor %}
            </table>

            <!-- <div style="text-align: center;">
                <div id="topDestinationsYear" style="width: 800px; height: 300px; margin: auto;"></div>
                <script type="text/javascript">
                    const new_dest2 = {{yearDest|tojson}};
                    const new_tickets2 = {{yearTickets|tojson}};
                </script>
                <script type="text/javascript" src="{{ url_for('static', filename='js/')}}{{'staffTopDestinationsYear.js'}}"></script>
            </div> -->
        
        </div>
	</div>

</body>

</html>
