<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Edit Flight Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- favicons -->
<link href="/images/favicon.png" rel="icon" />
<link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- modern JS -->
<script src="/js/modernizr-2.6.2.min.js"></script>
</head>

<style>
	div {
	padding: 5px;
	margin: 5px;
	}
</style>

<body>

	<div class="top-nav" style="text-align: right;">
		<a href="/">
			<img alt="Home" src="/images/favicon.png" width="20" height="20"/>
		</a>
		<a href="/staff/home">Home</a> |
		<a href="/logout">Logout</a>
	</div>

	<h2><strong>{{posts[0][1]}}</strong>'s Flight Data Edit</h2>
	<div class="main" style="text-align: center;">
		<h3>Edit Flight Status</h3>
		<form action="/staff/flight/editStatus" method="POST">
			<input type="text" name = "flight_num" placeholder="flight_no" required/> </br>
			<input type="radio" id="upcoming" name="edit_status" value="upcoming"><label for="upcoming">Upcoming</label>
			<input type="radio" id="in-progress" name="edit_status" value="in-progress"><label for="in-progress">In-Progress</label>
			<input type="radio" id="delayed" name="edit_status" value="delayed"><label for="delayed">Delayed</label></br>
			<button type="submit" class="btn btn-primary">edit</button>
			{% if error %}
				<p class="text-danger"><strong>Error:</strong> {{error}}</p>
			{% endif %}
			{% if message %}
				<p class="text-success">{{message}}</p>
			{% endif %}
		</form>

		<hr>
		
		<div style="height: 400px; width: 650px; float:right;">
		<h3>Add Flight</h3>
		<form action="/staff/flight/addFlight" method="POST">
			<input type="text" name = "flight_num" placeholder="flight_no" required/> </br>
			<input type="text" name = "departure_airport" placeholder="departure_airport" required/> </br>
			<input type="datetime-local" name = "departure_time" placeholder="departure_time" required/> </br>
			<input type="text" name = "arrival_airport" placeholder="arrival_airport" required/> </br>
			<input type="datetime-local" name = "arrival_time" placeholder="arrival_time" required/> </br>
			<input type="number" name = "price" placeholder="$ price" required/> </br>
			<input type="number" name = "seats" placeholder="# seats" required/> </br>
			<input type="radio" id="upcoming" name="status" value="upcoming"><label for="upcoming">Upcoming</label>
			<input type="radio" id="in-progress" name="status" value="in-progress"><label for="in-progress">In-Progress</label>
			<input type="radio" id="delayed" name="status" value="delayed"><label for="delayed">Delayed</label> </br>
			<input type="number" name = "airplane_id" placeholder="airplane_id" required/> </br>
			<button type="submit" class="btn btn-primary">add</button>
			{% if error1 %}
				<p class="text-danger"><strong>Error:</strong> {{error1}}</p>
			{% endif %}
			{% if message1 %}
				<p class="text-success">{{message1}}</p>
			{% endif %}
		</form>
		</div>

		<h3>Add Airplane</h3>
		<form action="/staff/flight/addAirplane" method="POST">
			<input type="number" name = "airplane_id" placeholder="airplane_id" required/> </br>
			<input type="number" name = "seats" placeholder="seats" required/> </br>
			<button type="submit" class="btn btn-primary">add</button>
			{% if error2 %}
				<p class="text-danger"><strong>Error:</strong> {{error2}}</p>
			{% endif %}
			{% if message2 %}
				<p class="text-success">{{message2}}</p>
			{% endif %}
		</form>
		
		<br><br>

		<h3>Add Airport</h3>
		<form action="/staff/flight/addAirport" method="POST">
			<input type="text" name = "airport_name" placeholder="airport_name" required/> </br>
			<input type="text" name = "airport_city" placeholder="airport_city" required/> </br>
			<button type="submit" class="btn btn-primary">add</button>
			{% if error3 %}
				<p class="text-danger"><strong>Error:</strong> {{error3}}</p>
			{% endif %}
			{% if message3 %}
				<p class="text-success">{{message3}}</p>
			{% endif %}
		</form>
	</div>
	
</body>

</html>
